* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(assets/fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
	overflow-x: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
/* HEADER */
header{
	position: relative;
	padding: 0 2rem;
	z-index: 100000;
}
.navbar{
	position: absolute;
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 1px;
}

.navbar .logo a{
	font-size: 1.5rem;
	font-weight: bold;
}
.navbar .links{
	display: flex;
	gap: 2rem;
}
.navbar .links li{
	transition: all .2s ease;
}
.navbar .links li:hover{
	scale: 1.2;
}
.navbar .toggle-btn{
	display: none;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}

.action-btn{
	background-color: #509600;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: .8rem;
	font-weight: bold;
	cursor: pointer;
	transform: scale .3s ease;
}
.action-btn:hover{
	scale: 1.05;
	color: #fff;
}
.action-btn:active{
	scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu{
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	height: 0;
	transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li{
	padding: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown-menu .action-btn{
	width: 100%;
	display: flex;
	justify-content: center;
}
.dropdown-menu.open{
	height: 240px;
}

/* MAIN */
.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: 2px;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
	transition: all .5s ease;
}
.button-start:hover{
	border: #88fc04 3px solid;
	padding: 15px 40px;
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}



















/* RESPONSIVDADE */
@media (max-width: 992px){
	.navbar .links,
	.navbar .action-btn{
		display: none;
	}
	.navbar .toggle-btn{
		display: block;
		margin-right: 60px;
		z-index: 100000;
	}
	.dropdown-menu{
		display: block;
	}
	.hero-content__p,
	.button-start{
		font-size: 10rem;
	}
}

@media (max-width: 576px){
	.dropdown-menu{
		left: 2rem;
		width: unset;
	}
}